<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestio_BC.Properties.Settings.securecoregunganConnectionString"
            connectionString="Data Source=thegungans.database.windows.net;Initial Catalog=SecureCoreDB;Persist Security Info=True;User ID=gungan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>