<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!-- Si va muy mal el gear.host, utilizamos el Azure -->
    <add name="MyDBConnection" connectionString="Server=den1.mssql7.gear.host; Database=securecoregungan; User Id=securecoregungan; Password=Zd0MC7z_2oG!"/>
  </connectionStrings>
</configuration>