<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--
    <connectionStrings>
      
        <add name="pruebaMikeDelegado.Properties.Settings.securecoregunganConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=securecoregungan;Persist Security Info=True;User ID=securecoregungan;Password=Zd0MC7z_2oG!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- CONNECTION STRING -->
  <connectionStrings>
    <!-- Si va muy mal el gear.host, utilizamos el Azure -->
    <add name="MyDBConnection" connectionString="Server=den1.mssql7.gear.host; Database=securecoregungan; User Id=securecoregungan; Password=Zd0MC7z_2oG!"/>
  </connectionStrings>
</configuration>