<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecepcioComandes.Properties.Settings.XWingsFactoryConnectionString"
            connectionString="Data Source=thegungansalesians.database.windows.net;Initial Catalog=XWingsFactory;Persist Security Info=True;User ID=gungan;Password=12345aA12345aA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>